body
{

	background-image:url("carre-bleu.jpg");
	background-size: cover;
	color:white;
}

.navigation{
	text-align: center;
	margin-right: 50px;
	margin-left: 400px;
	border-radius: 20px;
	border: 6px solid #fff;
	margin-top:50px;
	padding-top: 10px;
	position: absolute;	 
	top: 20px;
	background-color: #000;
	;
}	
.navigation li{
	list-style: none;
	display: inline;
	padding-left: 20px;
}
.navigation a{
	text-decoration: none;
	display: inline-block;
	color: #fff;
	padding-bottom: 10px;
	font-size: 20px;
	transition: 0.2s;

}
.navigation a:hover{
	text-decoration: underline;
	color: #9F9F9F;
	transition: 0.2s;
}
.navigation li{
	list-style: none;
	display: inline;
	padding-left: 10px;
}
.navigation a{
	text-decoration: none;
	display: inline-block;
	color: #fff;
	padding-bottom: 8px;
	font-size: 13px;
	transition: 0.2s;

}
.navigation a:hover{
	text-decoration: underline;
	color: #9F9F9F;
	transition: 0.2s;
}


#mon-profil {
	text-align: justify;
	position: absolute;
	top: 100px;
	left: 320px;
	color: purple;
}

#merviel {
	position: absolute;
	top: 275px;
	left:450px;
}

h3{
	color: green;
}
h4{
	color: purple;
}
h5{
	color: maroon;
}

#Exp {
	text-align: justify;
	position: absolute;
	top: 200px;
	right: 20px;
	color: purple;
}

#Psc {
	text-align: justify;
	position: absolute;
	top: 550px;
	left: 320px;
	color: purple;
}

#logo-But {
	position: absolute;
	top: 600px;
	right:150px;
}

/* Responsive*/

@media screen and (max-width: 1000px) {
    .navigation{
	text-align: center;
	margin-right: 150px;
	margin-left: 150px;
	border-radius: 20px;
	border: 6px solid #fff;
	margin-top: 160px;
	padding-top: 10px;
	position: sticky;	 
	top: 20px;
	background-color: #000;
}
.navigation li{
	list-style: none;
	display: inline;
	padding-left: 10px;
}
.navigation a{
	text-decoration: none;
	display: inline-block;
	color: #fff;
	padding-bottom: 8px;
	font-size: 13px;
	transition: 0.2s;

}
.navigation a:hover{
	text-decoration: underline;
	color: #9F9F9F;
	transition: 0.2s;
}

