body
{
	background-image:url("img accueil.jpg");
	background-size: cover;
	color:white;
	background-repeat: no-repeat;
}
#welcome{
	margin-right: 350px;
	margin-left: 50px;
	margin-top: 150px;
	padding-top: 5%;	
	text-align: center;
	font-size: 40px;
	font-family: Source Sans Pro;
	color: white;
	}

.navigation{
	text-align: center;
	margin-right: 300px;
	margin-left: 300px;
	border-radius: 20px;
	border: 6px solid #fff;
	margin-top: 50px;
	padding-top: 10px;
	position: absolute;	 
	top: 20px;
	background-color: #000;
	
}
.navigation li{
	list-style: none;
	display: inline;
	padding-left: 20px;
}
.navigation a{
	text-decoration: none;
	display: inline-block;
	color: #fff;
	padding-bottom: 10px;
	font-size: 20px;
	transition: 0.2s;

}
.navigation a:hover{
	text-decoration: underline;
	color: #9F9F9F;
	transition: 0.2s;
}
.navigation li{
	list-style: none;
	display: inline;
	padding-left: 10px;
}
.navigation a{
	text-decoration: none;
	display: inline-block;
	color: #fff;
	padding-bottom: 8px;
	font-size: 13px;
	transition: 0.2s;

}
.navigation a:hover{
	text-decoration: underline;
	color: #9F9F9F;
	transition: 0.2s;
}

#carré {
	position: absolute;
	top: 10px;
	right: 10px;
}

#moi {
	position: absolute;
	top: 50px;
	right: 30px;
}

#Pmoi {
	position: absolute;
	top: 350px;
	right: 40px;
	color: black;
}

/* Responsive*/

@media screen and (max-width: 1000px) {
    .navigation{
	text-align: center;
	margin-right: 150px;
	margin-left: 150px;
	border-radius: 20px;
	border: 6px solid #fff;
	margin-top: 160px;
	padding-top: 10px;
	position: sticky;	 
	top: 20px;
	background-color: #000;
}
.navigation li{
	list-style: none;
	display: inline;
	padding-left: 10px;
}
.navigation a{
	text-decoration: none;
	display: inline-block;
	color: #fff;
	padding-bottom: 8px;
	font-size: 13px;
	transition: 0.2s;

}
.navigation a:hover{
	text-decoration: underline;
	color: #9F9F9F;
	transition: 0.2s;
}

